body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#picture {
  float: right;
  height: 250px;
  width: auto;
}

#container {
  margin-top: 20px;
	margin-left: 200px;
	margin-right: 200px;

	padding: 20px 200px 20px 200px;

	border-radius: 15px;
  background: rgba(231, 245, 244, 0.5);
  /* background-color: #E7F5F4; */
  /* opacity: 0.5; */
  /* https://www.w3schools.com/cssref/css3_pr_opacity.asp */

}



#contact-name {
  text-align: center;
  font-weight: bold;
  
}

#contact-info {
  text-align: center;
  border-bottom: 1px solid #000000


}






#footer {
 font-size: 0.75rem; 
}