body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  background-image: url(background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

#picture {
  float: right;
  height: 250px;
  width: auto;
  margin-left: 2%;
  margin-bottom: 2%;
  max-width: 50%;
}

#container {
  margin-top: 4%;
	margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 7%;

	padding: 4% 4% 4% 4%;

	border-radius: 15px;
  background: rgba(231, 245, 244, 0.8);
  /* background-color: #E7F5F4; */
  /* opacity: 0.5; */
  /* https://www.w3schools.com/cssref/css3_pr_opacity.asp */

}

#contact-name {
  text-align: center;
  font-weight: bold;
  font-size: x-large;
}

#contact-info {
  text-align: center;
  border-bottom: 1px solid #000000
}


.title {
  text-align: center;
}

#summary {
  border-bottom: 1px solid #000000
}

#professional {
  border-bottom: 1px solid #000000
}

#education {
  border-bottom: 1px solid #000000
}

ul#horiz-exp li{
  display: inline;
}

#footer {
  text-align: center;
  font-size: 0.75rem; 
}

#catbox {
  align-content: center;
}

#catpics {
  height: 300px;
  width: auto;
  margin-left: 2%;
  margin-bottom: 2%;
  max-width: 50%;
}

#catpics-rotate {
  height: 300px;
  width: auto;
  margin-left: 2%;
  margin-bottom: 2%;
  max-width: 50%;
  transform: rotate(90deg);
}